services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    ports:
      - 193:32400
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - VERSION=docker
      - PLEX_CLAIM=claim-Jsrz-3dKMNeEbfXBraMU
    volumes:
      - /mnt/plexmedia/plex_media/library:/config
      - /mnt/plexmedia/plex_media/tvseries:/tv
      - /mnt/plexmedia/plex_media:/movies
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:gluetun"
    environment:
      - PUID=1001
      - PGID=545
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /var/lib/docker/volumes/media-server/qbittorrent/config:/config
      - /mnt/plexmedia/plex_media/downloads:/downloads
    restart: unless-stopped

  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: tautulli
    restart: unless-stopped
    volumes:
      - /var/lib/docker/volumes/media-server/tautulli/config:/config
    environment:
      - PUID=1001
      - PGID=545
      - TZ=Etc/UTC
    ports:
      - 196:8181  

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1001
      - PGID=545
      - TZ=Etc/UTC
    volumes:
      - /var/lib/docker/volumes/media-server/radarr/config:/config
      - /mnt/plexmedia/plex_media/downloads:/downloads
      - /mnt/plexmedia/plex_media/plex/movies:/movies
    ports:
      - 198:7878  # Radarr WebUI
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1001
      - PGID=545
      - TZ=Etc/UTC
    volumes:
      - /var/lib/docker/volumes/media-server/sonarr/config:/config
      - /mnt/plexmedia/plex_media/downloads:/downloads
      - /mnt/plexmedia/plex_media/plex/tv:/tv
    ports:
      - 197:8989  # Sonarr WebUI
    restart: unless-stopped

  # lidarr:
  #   image: linuxserver/lidarr
  #   container_name: lidarr
  #   environment:
  #     - PUID=1001
  #     - PGID=545
  #     - TZ=Etc/UTC
  #   volumes:
  #     - /var/lib/docker/volumes/media-server/lidarr/config:/config
  #     - /mnt/plexmedia/plex_media/downloads:/downloads
  #     - /mnt/plexmedia/plex_media/music:/music
  #   depends_on:
  #     - nordvpn
  #   network_mode: "service:nordvpn"
  #   restart: unless-stopped

  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1001
      - PGID=545
      - TZ=Etc/UTC
    volumes:
      - /var/lib/docker/volumes/media-server/prowlarr/config:/config
    restart: unless-stopped

  overseerr:
    image: sctx/overseerr
    container_name: overseerr
    environment:
      - PUID=1001
      - PGID=545
      - TZ=Etc/UTC
    volumes:
      - /var/lib/docker/volumes/media-server/overseerr/config:/app/config
    ports:
      - 194:5055  # Overseerr WebUI
    restart: unless-stopped

  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=1001
      - PGID=545
      - TZ=Etc/UTC
    volumes:
      - /var/lib/docker/volumes/media-server/readarr/config:/config
      - /var/lib/docker/volumes/media-server/readarr/books:/books
      - /var/lib/docker/volumes/media-server/readarr/downloads:/downloads

      - /path/to/data:/config
      - /path/to/books:/books #optional
      - /path/to/downloadclient-downloads:/downloads #optional
    ports:
      - 8787:8787
    restart: unless-stopped

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    ports:
      - 86:8080  # qBittorrent WebUI
      - 6881:6881  # qBittorrent Torrenting
      - 195:9696  # Prowlarr WebUI
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn
      - OPENVPN_USER=
      - OPENVPN_PASSWORD=
      - SERVER_COUNTRIES=Romania
    restart: unless-stopped

  # homarr:
  #   image: ghcr.io/ajnart/homarr:latest
  #   container_name: homarr
  #   environment:
  #     - PUID=1001
  #     - PGID=545
  #     - TZ=Etc/UTC
  #   volumes:
  #     - /var/lib/docker/volumes/media-server/homarr/config:/config
  #   depends_on:
  #     - nordvpn
  #   network_mode: "service:nordvpn"
  #   restart: unless-stopped
